In [1]:
import pandas as pd
import numpy as np
import random
from numpy.random import randn
df=pd.read_csv("C:\\Users\\Nishaant Harrish\\Downloads\\bank.csv")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [2]:
df.drop(['ID'],axis=1)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [3]:
df=df[['Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard','Personal Loan']]

In [4]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [5]:
class ACO:
    def __init__(self, input_dim, hidden_dim, output_dim):
        self.input_dim = input_dim
        self.hidden_dim = hidden_dim
        self.output_dim = output_dim
        self.W1 = np.random.randn(self.input_dim, self.hidden_dim)
        self.W2 = np.random.randn(self.hidden_dim, self.output_dim)

In [6]:
def forward(self, x):
        self.z1 = np.dot(X, self.W1)
        self.a1 = sigmoid(self.z1)
        self.z2 = np.dot(self.a1, self.W2)
        self.y_hat = sigmoid(self.z2)
        return self.y_hat

In [7]:
def backward(self, x, y, y_hat):
        delta3 = (y_hat - y) * sigmoid_derivative(y_hat)
        dW2 = np.dot(self.a1.T, delta3)
        delta2 = np.dot(delta3, self.W2.T) * sigmoid_derivative(self.a1)
        dW1 = np.dot(X.T, delta2)
        return dW1, dW2

In [8]:
def train(self, x, y, iterations, num_ants, evaporation_rate, alpha, beta, Q):
        self.iterations = iterations
        self.num_ants = num_ants
        self.evaporation_rate = evaporation_rate
        self.alpha = alpha
        self.beta = beta
        self.Q = Q
        self.best_weights = np.zeros(self.W1.size + self.W2.size)
        self.best_error = np.inf
        pheromones = np.ones((self.W1.size + self.W2.size, 2))
        for i in range(self.iterations):
            for j in range(self.num_ants):
                ant_weights = np.zeros(self.W1.size + self.W2.size)
                for k in range(len(ant_weights)):
                    if np.random.rand() < pheromones[k][1]:
                        ant_weights[k] = np.random.uniform(-1, 1)
                    else:
                        ant_weights[k] = self.best_weights[k]
                self.W1 = ant_weights[:self.W1.size].reshape(self.input_dim, self.hidden_dim)
                self.W2 = ant_weights[self.W1.size:].reshape(self.hidden_dim, self.output_dim)
                y_hat = self.forward(x)
                error = np.mean(np.square(y - y_hat))
                if error < self.best_error:
                    self.best_weights = ant_weights.copy()
                    self.best_error = error
                dW1, dW2 = self.backward(x, y, y_hat)
                pheromones_update = np.zeros((self.W1.size + self.W2.size, 2))
                for k in range(len(pheromones_update)):
                    if ant_weights[k] == self.best_weights[k]:
                        pheromones_update[k][0] = (1 - self.evaporation_rate) * pheromones[k][0] + self.Q / self.best_error
                        pheromones_update[k][1] = self.alpha / (self.alpha + self.beta)
                    else:
                        pheromones_update[k][0] = (1 - self.evaporation_rate) * pheromones[k][0]
                        pheromones_update[k][1] = self.beta / (self.alpha + self.beta)
                pheromones = pheromones_update
                self.W1 -= self.alpha * dW1
                self.W2 -= self.alpha * dW2

In [10]:
def predict(self, x):
    return self.forward(x)

In [13]:
ants = ACO(input_dim=12, hidden_dim=3, output_dim=1)
ants.train(x, y, iterations=100, num_ants=10, evaporation_rate=0.2, alpha=0.1, beta=0.9, Q=10)

In [15]:
predictions = np.round(net4.forward(X))
accuracy = np.mean(predictions == y)
print("Accuracy:", accuracy)

accuracy : 0.74

In [18]:
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

           0       0.67      1.00      0.80         4
           1       1.00      0.50      0.67         4

    accuracy                           0.75         8
   macro avg       0.83      0.75      0.73         8
weighted avg       0.83      0.75      0.73         8