In [23]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Nishaant Harrish\\Downloads\\bank.csv")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [24]:
df.drop(['ID'],axis=1)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [25]:
df=df[['Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard','Personal Loan']]

In [39]:
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Personal Loan
0,25,1,49,91107,4,1.6,1,0,1,0,0,0,0
1,45,19,34,90089,3,1.5,1,0,1,0,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,1.9,3,0,0,0,1,0,0
4996,30,4,15,92037,4,0.4,1,85,0,0,1,0,0
4997,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,90034,3,0.5,2,0,0,0,1,0,0
4999,28,4,83,92612,3,0.8,1,0,0,0,1,1,0

In [40]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [41]:
class Culture:
    def __init__(self, num_inputs, num_hidden, num_outputs, num_knowledges, knowledge_threshold):
        self.num_inputs = num_inputs
        self.num_hidden = num_hidden
        self.num_outputs = num_outputs
        self.num_knowledges = num_knowledges
        self.knowledge_threshold = knowledge_threshold
        self.hidden_weights = np.random.randn(self.num_inputs, self.num_hidden)
        self.output_weights = np.random.randn(self.num_hidden, self.num_outputs)
        self.knowledges = []

In [42]:
def sigmoid(self, x):
    return 1 / (1 + np.exp(-x))

In [43]:
 def predict(self, inputs):
        hidden_layer = self.sigmoid(np.dot(inputs, self.hidden_weights))
        output_layer = self.sigmoid(np.dot(hidden_layer, self.output_weights))
        return output_layer

In [44]:
def calculate_fitness(self, x, y):
        predictions = self.predict(X)
        fitness = np.sum(np.abs(predictions - y))
        return fitness

In [45]:
def update_knowledge(self, x, y):
        fitness = self.calculate_fitness(x, y)
        if len(self.knowledges) < self.num_knowledges or fitness < max([k["fitness"] for k in self.knowledges]):
            self.knowledges.append({"hidden_weights": self.hidden_weights.copy(), "output_weights": self.output_weights.copy(), "fitness": fitness})
        self.knowledges = sorted(self.knowledges, key=lambda k: k["fitness"])[:self.num_knowledges]

In [46]:
def inherit_knowledge(self):
        if len(self.knowledges) > 0 and self.calculate_fitness(x, y) > self.knowledge_threshold:
            best_knowledge = self.knowledges[0]
            self.hidden_weights = best_knowledge["hidden_weights"].copy()
            self.output_weights = best_knowledge["output_weights"].copy()

In [47]:
def train(self, x, y, population_size=10, generations=100, mutation_rate=0.1):
        population = [Culture(self.num_inputs, self.num_hidden, self.num_outputs, self.num_knowledges, self.knowledge_threshold) for _ in range(population_size)]

        for generation in range(generations):
            for individual in population:
                individual.update_knowledge(X, y)

            for individual in population:
                individual.inherit_knowledge()

            fitnesses = [individual.calculate_fitness(X, y) for individual in population]
            fittest_idx = np.argmin(fitnesses)
            fittest = population[fittest_idx]

            if fitnesses[fittest_idx] == 0:
                break

            parents = np.random.choice(population, size=population_size-1, replace=True, p=np.array(fitnesses) / np.sum(fitnesses))
            children = [fittest.crossover(parent) for parent in parents]
            population = [fittest] + children
            for individual in population:
                individual.mutate(mutation_rate)

        self.hidden_weights = fittest.hidden_weights
        self.output_weights = fittest.output_weights

In [49]:
def crossover(self, other):
        child = Culture(self.num_inputs, self.num_hidden, self.num_outputs, self.num_knowledges, self.knowledge_threshold)
        child.hidden_weights = self.hidden_weights.copy()
        child.output_weights = other.output_weights.copy()
        return child

In [50]:
 def mutate(self, mutation_rate):
        for i in range(self.num_inputs):
            for j in range(self.num_hidden):
                if np.random.random() < mutation_rate:
                    self.hidden_weights[i,j] += np.random.randn() * 0.1

        for i in range(self.num_hidden):
            for j in range(self.num_outputs):
                if np.random.random() < mutation_rate:
                    self.output_weights[i,j] += np.random.randn() * 0.1

In [51]:
cult = Culture(6,3,1,5,0.5)
cult.train(x, y)

In [55]:
y_pred = np.round(cult.predict(x))
accuracy = np.mean(y_pred == y)
print("Accuracy:", accuracy)

accuracy : 0.8

In [56]:
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

           0       0.80      1.00      0.89         4
           1       0.00      0.00      0.00         1

    accuracy                           0.80         5
   macro avg       0.40      0.50      0.44         5
weighted avg       0.64      0.80      0.71         5

C:\Users\Nishaant Harrish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nishaant Harrish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nishaant Harrish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))